#navbar a, a:visited{
    text-decoration: none;
    color: #2A2A2A;
    padding: 0.6rem;
    border-radius: 0.5rem;
}

#navbar a:hover{
    background-color: #F9F5ED;
}

#navbar{
    background-color: #FFFFFF;
    height: 3rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 85%;
    max-width: 1200px;
    border-radius: 0.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5rem;
    font-size: 0.75rem;
}

@media (min-width: 768px) {
    #navbar {
        width: 80%;
        justify-content: flex-start;
        font-size: 1rem;
        top: 0.75rem;
        padding: 0.25rem 1.25rem;
    }

    #navbar a {
        padding: 0.75rem 1rem;
    }
}

@media (min-width: 1200px) {
    #navbar {
        width: 75%;
        justify-content: flex-start;
        font-size: 1rem;
        top: 0.75rem;
        padding: 0.25rem 1.25rem;
    }

    #navbar a {
        padding: 0.75rem 1rem;
    }
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #F9F5ED;
}